/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body
{
}

body {
    line-height: 1;
    position: relative;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    /*     background-image: url("images/bg2.jpg");
	background-repeat: repeat-x; */
    background: #99a1ff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5YTFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iIzlmYWRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2IxZTJmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY5JSIgc3RvcC1jb2xvcj0iI2I0ZTNmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iI2IyZTNmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhY2Q3ZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #99a1ff 0%, #9fadff 27%, #b1e2f9 50%, #b4e3f9 69%, #b2e3f9 84%, #acd7fb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99a1ff), color-stop(27%,#9fadff), color-stop(50%,#b1e2f9), color-stop(69%,#b4e3f9), color-stop(84%,#b2e3f9), color-stop(100%,#acd7fb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #99a1ff 0%,#9fadff 27%,#b1e2f9 50%,#b4e3f9 69%,#b2e3f9 84%,#acd7fb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #99a1ff 0%,#9fadff 27%,#b1e2f9 50%,#b4e3f9 69%,#b2e3f9 84%,#acd7fb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #99a1ff 0%,#9fadff 27%,#b1e2f9 50%,#b4e3f9 69%,#b2e3f9 84%,#acd7fb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #99a1ff 0%,#9fadff 27%,#b1e2f9 50%,#b4e3f9 69%,#b2e3f9 84%,#acd7fb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99a1ff', endColorstr='#acd7fb',GradientType=0 ); /* IE6-8 */
    background-repeat: repeat-x;
}

.wrapper {
    width: 590px;
    margin: 0 auto;
    position: relative;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    text-align: center;
    padding-top: 37px;
    padding-bottom: 37px;
}

.headerText {
    width: 428px;
    height: 26px;
    background-image: url("images/header_text2.png");
    margin-left: 86px;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
    position: relative;
}

.tree {
    width: 552px;
    height: 692px;
    background-image: url("images/tree2.png");
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.productBorder {
    position: absolute;
    width: 127px;
    height: 127px;
    line-height: 127px;
    background-image: url('images/productFrame.png');
    z-index: 6;
    text-align: center;
    display: none;

    border-radius: 10px;

    -webkit-box-shadow: -1px 1px 49px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 49px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 49px -4px rgba(0,0,0,0.75);
}

    .productBorder img {
        max-width: 90px;
        max-height: 115px;
        top: 10px;
        margin: 0 auto;
        vertical-align: middle;;
    }

.toy1 {
    width: 36px;
    height: 45px;
    background-image: url("images/toy1.png");
    cursor: pointer;
    position: absolute;
    top: 44px;
    left: 257px;
}

.toy2 {
    width: 45px;
    height: 49px;
    background-image: url("images/toy2.png");
    cursor: pointer;
    position: absolute;
    top: 108px;
    left: 204px;
}

.toy3 {
    width: 32px;
    height: 64px;
    background-image: url("images/toy3.png");
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 267px;
}

.toy4 {
    width: 39px;
    height: 52px;
    background-image: url("images/toy4.png");
    cursor: pointer;
    position: absolute;
    top: 111px;
    left: 312px;
}

.toy5 {
    width: 37px;
    height: 42px;
    background-image: url("images/toy5.png");
    cursor: pointer;
    position: absolute;
    top: 175px;
    left: 169px;
}

.toy6 {
    width: 54px;
    height: 56px;
    background-image: url("images/toy6.png");
    cursor: pointer;
    position: absolute;
    top: 172px;
    left: 218px;
}

.toy7 {
    width: 48px;
    height: 64px;
    background-image: url("images/toy7.png");
    cursor: pointer;
    position: absolute;
    top: 181px;
    left: 284px;
}

.toy8 {
    width: 52px;
    height: 59px;
    background-image: url("images/toy8.png");
    cursor: pointer;
    position: absolute;
    top: 177px;
    left: 343px;
}

.toy9 {
    width: 31px;
    height: 77px;
    background-image: url("images/toy9.png");
    cursor: pointer;
    position: absolute;
    top: 236px;
    left: 129px;
}

.toy10 {
    width: 42px;
    height: 65px;
    background-image: url("images/toy10.png");
    cursor: pointer;
    position: absolute;
    top: 234px;
    left: 175px;
}

.toy11 {
    width: 60px;
    height: 69px;
    background-image: url("images/toy11.png");
    cursor: pointer;
    position: absolute;
    top: 252px;
    left: 229px;
}

.toy12 {
    width: 54px;
    height: 64px;
    background-image: url("images/toy12.png");
    cursor: pointer;
    position: absolute;
    top: 266px;
    left: 299px;
}

.toy13 {
    width: 66px;
    height: 73px;
    background-image: url("images/toy13.png");
    cursor: pointer;
    position: absolute;
    top: 246px;
    left: 369px;
}

.toy14 {
    width: 86px;
    height: 78px;
    background-image: url("images/toy14.png");
    cursor: pointer;
    position: absolute;
    top: 326px;
    left: 67px;
}

.toy15 {
    width: 59px;
    height: 106px;
    background-image: url("images/toy15.png");
    cursor: pointer;
    position: absolute;
    top: 325px;
    left: 163px;
}

.toy16 {
    width: 55px;
    height: 78px;
    background-image: url("images/toy16.png");
    cursor: pointer;
    position: absolute;
    top: 339px;
    left: 233px;
}

.toy17 {
    width: 47px;
    height: 53px;
    background-image: url("images/toy17.png");
    cursor: pointer;
    position: absolute;
    top: 343px;
    left: 299px;
}

.toy18 {
    width: 64px;
    height: 71px;
    background-image: url("images/toy18.png");
    cursor: pointer;
    position: absolute;
    top: 332px;
    left: 360px;
}

.toy19 {
    width: 58px;
    height: 69px;
    background-image: url("images/toy19.png");
    cursor: pointer;
    position: absolute;
    top: 352px;
    left: 439px;
}

.toy20 {
    width: 53px;
    height: 68px;
    background-image: url("images/toy20.png");
    cursor: pointer;
    position: absolute;
    top: 421px;
    left: 68px;
}

.toy21 {
    width: 66px;
    height: 63px;
    background-image: url("images/toy21.png");
    cursor: pointer;
    position: absolute;
    top: 442px;
    left: 132px;
}

.toy22 {
    width: 58px;
    height: 99px;
    background-image: url("images/toy22.png");
    cursor: pointer;
    position: absolute;
    top: 440px;
    left: 219px;
}

.toy23 {
    width: 66px;
    height: 76px;
    background-image: url("images/toy23.png");
    cursor: pointer;
    position: absolute;
    top: 418px;
    left: 296px;
}

.toy24 {
    width: 63px;
    height: 62px;
    background-image: url("images/toy24.png");
    cursor: pointer;
    position: absolute;
    top: 439px;
    left: 373px;
}

.toy25 {
    width: 54px;
    height: 62px;
    background-image: url("images/toy25.png");
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 451px;
}

.toy26 {
    width: 50px;
    height: 66px;
    background-image: url("images/toy26.png");
    cursor: pointer;
    position: absolute;
    top: 499px;
    left: 8px;
}

.toy27 {
    width: 58px;
    height: 77px;
    background-image: url("images/toy27.png");
    cursor: pointer;
    position: absolute;
    top: 519px;
    left: 80px;
}

.toy28 {
    width: 61px;
    height: 74px;
    background-image: url("images/toy28.png");
    cursor: pointer;
    position: absolute;
    top: 552px;
    left: 154px;
}

.toy29 {
    width: 57px;
    height: 71px;
    background-image: url("images/toy29.png");
    cursor: pointer;
    position: absolute;
    top: 562px;
    left: 228px;
}

.toy30 {
    width: 96px;
    height: 106px;
    background-image: url("images/toy30.png");
    cursor: pointer;
    position: absolute;
    top: 532px;
    left: 317px;
}

.toy31 {
    width: 70px;
    height: 94px;
    background-image: url("images/toy31.png");
    cursor: pointer;
    position: absolute;
    top: 524px;
    left: 433px;
}

.lights {
    width: 500px;
    height: 478px;
    background-image: url("images/lights.png");
    position: absolute;
    top: 80px;
    left: 28px;
}

.snow1 {
    width: 37px;
    height: 36px;
    background-image: url("images/snow1.png");
    position: absolute;
    top: 329px;
    left: 143px;
}

.snow2 {
    width: 29px;
    height: 30px;
    background-image: url("images/snow2.png");
    position: absolute;
    top: 525px;
    left: 139px;
}

.snow3 {
    width: 31px;
    height: 29px;
    background-image: url("images/snow3.png");
    position: absolute;
    top: 441px;
    left: 261px;
}

.clouds {
    width: 540px;
    height: 293px;
    background-image: url("images/clouds2.png");
    position: absolute;
    top: -77px;
    left: 18px;
    z-index: 1;
}

.agulife {
    width: 82px;
    height: 43px;
    background-image: url("images/agulife.png");
    position: absolute;
    top: 83px;
    left: 408px;
}

.agusha {
    width: 65px;
    height: 37px;
    background-image: url("images/agusha.png");
    position: absolute;
    top: 124px;
    left: 62px;
}

.star {
    width: 66px;
    height: 62px;
    background-image: url("images/star.png");
    position: absolute;
    top: -23px;
    left: 243px;
    z-index: 2;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 100%;
    height: 152px;
    margin: -75px auto 0;
    background: url("images/footer2.png") repeat-x;
}
